<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name="java" level="DEBUG" />
	<logger name="java.sql" level="DEBUG" />
	<logger name="com.alibaba.druid" level="DEBUG" />
	<logger name="org.springframework" level="WARN" />
	<logger name="springfox.documentation" level="WARN" />
	<logger name="org.apache" level="INFO" />
	<logger name="httpclient.wire" level="INFO" />
	<logger name="org.mybatis" level="INFO" />
	<logger name="com.alibaba" level="INFO" />
	<logger name="org.activiti.engine" level="INFO" />
	<logger name="org.activiti.spring" level="INFO" />
	<logger name="org.activiti.engine.impl.persistence.entity" level="trace" />
	<logger name="org.activiti.engine.impl.persistence.entity.JobEntity.selectNextJobsToExecute" level="INFO" />
	<logger name="io.netty" level="INFO" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="self.sign.mapper" level="DEBUG" />

	<appender name="consoleAppender"
			  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n</pattern>
			<!-- 日志编码 -->
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>